{% extends 'diary_base.html' %}
{% load static %}
{% load utils %}

{% block title %}投稿詳細 | Drink SNS{% endblock %}

{% block active_diary_list %}active{% endblock %}

<div class="container">
    <div class="my-div-style w-100">
        {% block navcontent %}
        <hr>

        <div class="row">
            <div class="col-3">
                <strong>投稿者</strong>
            </div>
            <div class="col-9">
                {{ object.user }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>タイトル</strong>
            </div>
            <div class="col-9">
                {{ object.title }}
            </div>
        </div>


        <hr>

        <div class="row">
            <div class="col-3">
                <strong>予定日</strong>
            </div>
            <div class="col-9">
                {{ object.schedule }}
            </div>
        </div>


        <hr>

        <div class="row">
            <div class="col-3">
                <strong>店名</strong>
            </div>
            <div class="col-9">
                {{ object.restaurant }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>最寄り駅</strong>
            </div>
            <div class="col-9">
                {{ object.station }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>参加者</strong>
            </div>
            <div class="col-9">
                {{ object.wantlist }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>開催目途</strong>
            </div>
            <div class="col-9">
                {% if object.number <= object.want %}
                    開催決定！
                {% else %}
                    あと{{ object.number|subtract:object.want }}人で開催です。
                {% endif %}
            </div>
        </div>

        <hr>

        <div id="map"></div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>写真</strong>
            </div>
            <div class="col-3">
                {% if object.photo1 %}
                    <img src="{{ object.photo1.url }}" width="200" height="200"/>
                {% endif %}
            </div>
            <div class="col-3">
                {% if object.photo2 %}
                    <img src="{{ object.photo2.url }}" width="200" height="200"/>
                {% endif %}
            </div>
            <div class="col-3">
                {% if object.photo3 %}
                    <img src="{{ object.photo3.url }}" width="200" height="200"/>
                {% endif %}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>作成日時</strong>
            </div>
            <div class="col-9">
                {{ object.created_at }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>更新日時</strong>
            </div>
            <div class="col-9">
                {{ object.updated_at }}
            </div>
        </div>

        <hr>

        <style>
            #map {
                width: 700px;
                height: 400px;
            }
        </style>
        <script>
            function initMap() {
                var latlng = new google.maps.LatLng( '{{ object.lat }}', '{{ object.lng }}' ); //objectから緯度経度を取得
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,//ズームの調整
                    center: latlng//上で設定した中心
                });
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map
                });
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2eoQ8kDmg_R8qgRcgTJzrXCws5guhM8A&callback=initMap"></script>

        {% if object.user == request.user%}
        <a class="btn btn-success mt-5 mb-3" href="{% url 'diary:diary_update' object.pk %}">編集</a>
        <a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'diary:diary_delete' object.pk %}">削除</a>
        {% else %}
        <a href="{% url 'diary:want' object.pk %}" class="btn {{ diary.wanttext|btnfunc:request.user.pk }}">行きたい！ {{ diary.want }}</a>
        {% endif %}
        {% endblock %}
    </div>
</div>

